
body {
    font-family: Arial, sans-serif; 
    margin: 20px;
    line-height: 1.5;
    

}
.containner{
    max-width: 800px;
    justify-content: center;
}

h1, h2, h3 {
    color: #333;
}


input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

label {
    font-weight: bold;
}


button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; 
}

.btn-remover {
    background-color: #d9534f;
    margin-top: 5px;
}
.btn-remover:hover {
    background-color: #c9302c;
}


ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc; 
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee; 
}

li:last-child {
    border-bottom: none;
}


.media-geral {
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #ccc;
}