.a1{
    width: 400;
    height: 20;
    border: 10px inset black;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
.a2{
    width: 400;
    height: 20;
    border: 5px inset black;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
.a3{
    width: 400;
    height: 20;
    border: 2px dotted;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
.a4{
    width: 400;
    height: 20;
    border: 5px dotted;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
.a5{
    width: 400;
    height: 20;
    border: 10px double;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
.a6{
    width: 400;
    height: 20;
    border: 5px double;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
.a7{
    width: 500;
    height: 50;
    border: 5px inset black;
    margin: 2px 10px 2px;
    padding: 2px 10px 2px;
}
    