body {
    font-family: Arial, sans-serif;
    background-color: #c3c3c3;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(51, 0, 255, 0.2);
}

h1 {
    margin: 0;
}

.containner {
    background-color: white;
    padding: 20px 30px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
}

.containner-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.containner-input input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
    max-width: 200px;
}

.containner-input button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.containner-input button:hover {
    background-color: #218838;
}

.containner-lista {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}